[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.ChatsClientServerJob
Exec=/usr/bin/ru.auroraos.ChatsClientServerJob
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=ChatsClientServerJob
ExecDBus=/usr/bin/ru.auroraos.ChatsClientServerJob
